html {font-size: 100%;
}

p{
     font-family: 'Merriweather', Georgia, "Times New Roman", serif;
     font-size: 1rem;
     line-height: 1.4rem;
  color:#231F20
}




h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  color:#231F20
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

body{
  text-align: center;
}

p a{
  display: block;
  color: #EAEAEA;
  background-color: #C9B96F;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#container{
  width:95%;
  background-color:#EAEAEA;
      text-align: center;
  margin:0 auto;
}

#nav{
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #EAEAEA;
  background-color: #231F20;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #231F20;
    text-align: center;
}

#footer {
  text-align: right;
  color: #231F20;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  border-top: 3px solid #231F20;
}


img {
  border-style: none;
}
