body{
  text-align: center;
  background-color: #cccccc;
}

.container{
  width:95%;
  background-color:#ffffff;
  margin:0 auto;
}

.nav{
  display: none;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
}

.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}


.nav a:link {
  display: block;
  color: #231F20;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav a:hover, a:active {
  background-color: #EAEAEA;
}

.nav a:visited{
  color: #231F20;
}

.nav1{
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
}

.nav1 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.nav1 a:link {
  display: block;
  color: #231F20;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav1 a:hover, a:active {
  background-color: #EAEAEA;
}

.nav1 a:visited{
  color: #231F20;
}


.lastchild{
  border-bottom: 1px solid black;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
}

.main{
  flex:1 100%;
}

.aside{
  background: silver;
  flex: 1 100%;
  padding: 10px;
}

h1{
 font-family: 'Merriweather Sans', Helvetica, Arial;
 color:#231F20;
}

p{
     font-family: 'Merriweather', Georgia, "Times New Roman", serif;
     padding-left: 10px;
     padding-right: 10px;
     text-align: left;
     max-width: 800px;
     color:#231F20;
}

img {
  border-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}


hr{
  background: #EAEAEA;
  width: 95%;
  height: 4px;
}


.map-wrapper{
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
}

.map-wrapper iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
    font-family: 'Merriweather Sans', Helvetica, Arial;
    font-weight: 300;
    text-align: left;
    padding-left: 30px;
}

.menu-trigger{
  order:1;
  color: white;
  text-decoration: none;
  width: 2em;
  font-size: 1.5em;
}

header{
  display: flex;
  flex-flow: column;
  background-color: #EAEAEA;
  margin: 0;
  padding: 0 10px;
  color: white;
}

@media all and (min-width:700px){
  .nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
  }
  .nav1{
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
  }
  .lastchild{
    border-bottom: none;
  }
  .aside{
    display: none;
    flex:1 auto;
    order: 2;
  }
  .main{
    flex: 3 0px;
    order: 1;
  }

  .main{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
  }
  .menu-trigger{
    display: none;
  }
  header{
    display: flex;
    flex-flow: row;
  }
  nav{
    padding-top: 30px;
    padding-left: 20px;
  }

  .map-wrapper{
    position: relative;
    padding-right: 50%;
  }

  .map-wrapper iframe{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
  }
}

@media all and (min-width: 1100px){
  .aside{
    display: none;
  }
  .menu-trigger{
    display: none;
  }
}
