html {font-size: 100%;
}

body{
  text-align: center;
  background-color: #cccccc;
}

.container{
  width:95%;
  background-color:#ffffff;
  text-align: center;
  margin:0 auto;
}

.nav{
  padding: 0;
}

.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.nav a:link, a:visited {
  display: block;
  color: #231F20;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav a:hover, a:active {
  background-color: #EAEAEA;
    text-align: center;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
}

.main{
  flex:1 100%;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  color:#231F20
}


p{
     font-family: 'Merriweather', Georgia, "Times New Roman", serif;
     font-size: 1rem;
     line-height: 1.4rem;
     padding-left: 10px;
     padding-right: 10px;
     text-align: left;
     max-width: 800px;
     color:#231F20
}

img {
  border-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}


.map-wrapper{
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
}
.map-wrapper iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}


p a{
  display: block;
  color: #EAEAEA;
  background-color: #C9B96F;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}



.footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-align: left;
  color: #231F20;
  border-top: 3px solid #231F20;
  padding-left: 30px
}
